
<div class="container">
    <div class="jumbotron" style="text-align: center">
    <h1>Bienvenido a su asistente de cobro</h1>
        <h4>Además de agilizar tus cobros, entérate de todas las novedades de la empresa, el país y el mundo.</h4>
     </div>
    <div class="row col-md-6" style="text-align: center">
        <h2>Noticias de la empresa</h2>
        <p>La empresa ha subido un 1000% en su facturación anual gracias a....... </p>
    </div>
    <div class="row col-md-6" style="text-align: center">
    <h3>Noticias del país y el mundo</h3>
    </div>
</div>